body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.logo img {
    width: 200px; /* Passe die Größe des Logos nach Bedarf an */
    height: 50px;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.search-container {
    margin-left: auto;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
}

.search-bar button {
    padding: 5px;
    background-color: #ff9900;
    border: none;
    cursor: pointer;
}

.hero {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.products {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

#cart-count {
    background-color: red;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.8em;
    vertical-align: super;
}

.cart {
    padding: 20px;
}

#checkout-button, #back-button, .add-to-cart-button {
    padding: 10px;
    background-color: #333; /* Farbe geändert */
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover, #checkout-button:hover, #back-button:hover {
    background-color: #ff9900; /* Farbe für Hover-Effekt */
}
